html, body
{
  background-color: #FFF5EE;
  color: #3B3C36;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
  /* cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="font-size:14px"><text y="16">🐛 </text></svg>'), auto; */
}

header
{
    background-color: #DA6;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited
{
  color: #000;
  /* cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="font-size:16px"><text y="18">👆</text></svg>'), auto; */
}

a.header__logo {
    padding: 10px;
    margin: 0;
    width: 44px;
    text-align: right;
}

a.header__logo--text {
    font-family: 'Jacques Francois Shadow', cursive;
    font-size: 20pt;
    color: #fff;
    text-decoration: none;
}
